* {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container-fluid {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  margin: 0;
}

.header-panel {
  background-color: brown;
  width: 100%;
  height: 40px;
}
/* Section for mail and mobile no. link */
.right-panel {
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
   
  padding-left: 5%;
  width: 100%;
  height: 100%;
}
.right-panel a {
  color: white;
  align-items: center;
}
.nav-link {
  color: white;
}
button .navbar-toggler:hover{
  border: none;
  text-decoration: none;
}
.dropdown-item:hover {
  background-color: brown !important;
}

.mail-icon {
  width: 2px;
  font-size: 18px;
  color: white;
  margin-top: 2px;
}
.phone-icon {
  width: 2px;
  font-size: px;
  color: white;
  margin-top: 2px;
}
/* divider between email and phone no. at the top  */
.right-panel span {
  color: white;
  margin-right: 2%;
  margin-left: 1%;
  width: 1px;
  height: 50px;
  margin-top: 2%;
}
/* Header section css */
.header {
  width: 100%;
}
.top-header {
  width: 100%;
  display: flex;
  gap: 3%;
  margin-top: 15px;
  align-items: center;
}
.logo {
  width: 15%;
  min-width: 110px;
}
.logo img {
  width: 100%;
  height: 100px;
}
.search-bar {
  width: 70%;
  min-width: 150px;
  display: flex;
  align-items: center;
}
/* Account, wishlist and shopping cart styling */
.account-wishlist-basket {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.account-wishlist-basket i {
  width: 2px;
  font-size: 20px;
  color: purple;
}
.account-wishlist-basket span {
  margin-left: 30px;

  color: black;
}
.account-wishlist-basket span:hover {
  text-decoration: none;
}
/* Menu items at menu bar */
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.account-links a {
  color: white;
  border: 1px solid;
  text-decoration: none;
  padding: 3px;
}

.slideshow-container {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
h1 {
  /* margin-top: 15px;
  margin-left: 15px; */
  padding: 15px;
  font-family: 'Merriweather';
  color: blue;
  text-transform: uppercase;
  font-weight: 500;
}

.furniture-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.furniture-categories .row div {
  width: 100%;
  height: 300px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.furniture-categories .row div h4 {
  text-align: center;
}
.furniture-categories .row div:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Adjust the values as needed */
}
.top-products {
  width: 100%;
  padding: 5px; 
}
.top-products .row .col{
  display: flex;
  flex-direction: column;
  gap: 2%;
}
 
.top-products > div:hover {
  cursor: pointer;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.top-products div .image-section {
  width: 100%;
  height: 50%;
  padding: 5%;
}
.top-products div .image-section img:hover {
  border-radius: 15px;
  display: block !important;
}
.top-products div .image-section img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.top-products div .product-details {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 0% 3%;
}
.top-products div .product-details a {
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.price {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
  align-items: start;
  justify-content: space-between;
}
.price .new-price span {
  color: rgb(78, 177, 78);
  font-size: 20px;
}
.price .old-price span {
  color: brown;
  font-size: 14px;
  text-decoration: line-through;
  align-items: end;
}
.top-products div .product-details .product-rating {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  align-items: start;
}

.product-rating .five-stars {
  color: #ffd700;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

/* Product deatils cards css copy from google */
 
/* :root {
  --orange: #fd9940;
  --darkorange: #dd7d25;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
 
  margin: 50px 0;
} */

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background:  white;
   
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:hover {
  color: white;
  background: lightgray;
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background:  orange;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background:  darkorange;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background:  darkorange;
}

.cards::-webkit-scrollbar-track {
  background:  #edf2f4;
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
  }
}



.rooms-furniture {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rooms-furniture .container-fluid .row .room-type {
  width: 100%;
  height: 320px;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  background-color: rgb(243, 248, 248);
  cursor: pointer;
}
.rooms-furniture .container-fluid .row .room-type .room-details {
  width: 30%;
  height: 100%;
}
.rooms-furniture .container-fluid .row .room-type .room-images img {
  width: 100%;
  height: 100%;
}
h4 {
  font-weight: bold;
}
.furniture-deals {
  width: 100%;
  display: flex;
  gap: 2%;
}

.furniture-deals .deals {
  width: 100%;
  height: 100%;
}
.furniture-deals .deals .container-fluid .row .deal-type {
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.furniture-deals .deals .container-fluid .row .deal-type img {
  width: 100%;
  height: 90%;
}
h5 {
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}
.furniture-deals .sale {
  width: 100%;
  height: 100%;
}
.furniture-deals .sale img {
  width: 90%;
  height: 90%;
}

.furniture-deals .deals .container-fluid .row .deal-type:hover {
  cursor: pointer;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.footer {
  width: 100%;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 12% 0px;
  padding: 15px;
}
.login-form label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
